* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7f6f6;
    color: #0d0b0b;
    padding: 5px;
    width: 100%;
  }
  
  .header {
    font-size: 20px;
    margin-left: 7rem;
    margin-right: 0;
  }
  
  h2 {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .nav-list ul {
    list-style: none;
    margin: 0;
    margin-right: 30rem;
    padding: 0;
    display: flex;
    margin-top: .3rem;
  }
  
  .nav-list li {
    margin-right: 18px;
   
  }
  
  .nav-list a {
    text-decoration: none;
    color: #131313;
    font-size: 16px;
    
  }
  
  .account {
    display: flex;
    align-items: center;
    margin-right: 2rem;
  }
  
  .profile {
    width: 25px;
    height: 25px;
    margin-left: 10px;
    border-radius: 50%;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7rem;
    margin-right: 7rem;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  
  .item {
    flex: 1 1 30rem;
    width: 100%;
    /* height: 50rem; */
    border-radius: 8px;
    /* border: .2px solid #ccc; */
    padding: 5px;
    margin: 5px;
    background-position: center;
    padding-top: 3rem;
    background-size: cover;

   display: flex;
   justify-content: center; 
   align-items: center; 
   height: 500px; 
  }

  .item img {
    max-width: 100%; 
    max-height: 100%; 
  }
  
  .descr {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

    .h2 {
        font-size: 15px;
        font-weight: 700;
        color: hsl(41, 96%, 54%);
    }

    .h1 {
        font-size: 20px;
        font-weight: 700;
    }

    .descr p {
        font-size: 11px;
        font-weight: 700;
        color: hsl(0, 0%, 59%);
    }
  
  .price {
    font-size: 20px;
    gap: 1rem;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;

  }

  .price h2 {
    font-size: 15px;
    font-weight: 700;
  }
  
   .price h4 {
        font-size: 10px;
        font-weight: 700;
        color: rgb(247, 81, 81);
        background: hsl(25, 100%, 94%);
    }

    .price h3 { 
        font-size: 15px;
        font-weight: 400;
        margin-left: 15rem;
        text-decoration: line-through;
        color: rgb(198, 195, 195);

    }

  .btn {
    width: 80%;
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: hsl(41, 96%, 54%);
    font-size: 10px;
    
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 7rem;
    margin-right: 7rem;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: hsl(41, 96%, 54%);
    color: #0a0909;
    font-size: 10px;
    font-weight: 700;
    cursor: pointer;
    padding: 5px;
  }

/* .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: 7rem;
    margin-right: 7rem;
  } */
